doctype html
html.no-js(lang="en-GB")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="description", content="An example pen showing how a basic CSS Grid container can create a nice, responsive card layout.")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    title Ammon Shepherd | Tuts and Tools
    link(href="style.css", rel="stylesheet")
  body 
    header 
      #upper
        #title
          h1 
            span#tuts Tuts 
            | +
            span#tools Tools 
          p#name by Ammon Shepherd
        #links 
          a(href="https://mossiso.com") mossiso.com
          a(href="mailto:ammonshepherd@gmail.com")
            img.header__img(src='images/email.png', alt="Email")
          a(href="https://github.com/ammonshepherd")
            img.header__img(src='images/github.png', alt="GitHub Account")
          a(href="https://twitter.com/mossiso")
            img.header__img(src='images/twitter.png', alt="Twitter Account")
          a(href="https://www.instagram.com/mossiso/")
            img.header__img(src='images/instagram.png', alt="Instagram Account")
          a(href="https://www.linkedin.com/in/ammon-edwin-shepherd/")
            img.header__img(src='images/linked-in.png', alt="LinkedIn")
      #lower
        p#text A collection of some tutorials (tuts) and web development tools I have created over the years. 
    main
      .grid
        .grid__item
          a(href="https://ammonshepherd.github.io/arduino-tuts/")
            .card
              img.card__img(src='images/arduino.jpg', alt='Arduino Tutorials')
              .card__content
                h1.card__header Arduino Tutorials
                p.card__text
                  | Work through the basics of using an Arduino micro-controller. Build a night light, control a fan with a distance sensor, and build interactive hardware software solutions.
              
        .grid__item
          a(href="https://ammonshepherd.github.io/make-a-website/")
            .card
              img.card__img(src='images/website.png', alt='Build a Website')
              .card__content
                h1.card__header Build a Website
                p.card__text
                  | Build a website for free. Use GitHub and VS Code to build a basic HTML and CSS website. 
              
        .grid__item
          a(href="https://ammonshepherd.github.io/git-for-beginners/")
            .card
              img.card__img(src='images/git.png', alt='Understanding Git')
              .card__content
                h1.card__header Getting Git for Beginners
                p.card__text
                  | If you don't get Git, this tutorial starts off with an analogy to help you understand Git before using it. 

        .grid__item
          a(href="https://github.com/ammonshepherd/pfp/")
            .card
              img.card__img(src='images/pfp.png', alt='Python Development')
              .card__content
                h1.card__header Python, Flask and PostgreSQL
                p.card__text
                  | Use Docker to put create a quick and easy Python web development environment. This set up uses the Flask framework and PostgreSQL for the database. 

        .grid__item
          a(href="https://github.com/ammonshepherd/pmamp/")
            .card
              img.card__img(src='images/pmamp.png', alt='PHP Web Development')
              .card__content
                h1.card__header PHP, Apache, MySQL, phpMyAdmin
                p.card__text
                  | Use Docker to put create a quick and easy PHP web development environment. This set up uses PHP, Apache and MySQL to create a development environment, with phpMyAdmin installed for easy database management. 