{% extends "base.html" %}

{% block content %}
<section class="page-header">
  <!-- <img src="/images/0c90a6f6-b868-4759-887d-3e2091660908.jpg"> -->
  <h1 class="blog-title">BLOG POSTS</h1>
</section>

<section id="blog_list">
    <!-- If you are using pagination, section.pages will be empty.
        You need to use the paginator object -->  
  {% for page in section.pages %}
      <article class="blog_list-card">
        <a href="{{ page.permalink | safe }}"><img src="{{ page.extra.picture }}" alt="image to show blog"></a>
        <a href="{{ page.permalink | safe }}"><h2>{{ page.title }}</h2></a>
        <a href="{{ page.permalink | safe }}"><p class="blog_list-date">{{ page.date | date(format="%B %d, %Y") }}</p></a>
        <a href="{{ page.permalink | safe }}"><p class="blog_list-summary">{{ page.summary | safe }}</p></a>
      </article>
  {% endfor %}
</section>
{% endblock content %}