{% extends "base.html" %} {% block content %}
<section id="hero">
  <div id="hero-heading">
    <h1>Ammon Shepherd</h1>
    <h3>Maker, Web Developer, and so much more.</h3>
  </div>
  <div id="hero-image">
    <img src="images/logo.png" />
  </div>
</section>

<section id="project-section">
  <h2>Projects</h2>
  <div class="projects">
    <div class="project_card">
      <a href="https://ammonshepherd.github.io/arduino-tuts/">
        <div class="card">
          <img
            class="card__img"
            src="images/arduino.jpg"
            alt="Arduino Tutorials"
          />
          <div class="card__content">
            <h1 class="card__header">Arduino Tutorials</h1>
            <p class="card__text">
              Work through the basics of using an Arduino micro-controller.
              Build a night light, control a fan with a distance sensor, and
              build interactive hardware software solutions.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="project_card">
      <a href="https://ammonshepherd.github.io/make-a-website/">
        <div class="card">
          <img
            class="card__img"
            src="images/website.png"
            alt="Build a Website"
          />
          <div class="card__content">
            <h1 class="card__header">Build a Website</h1>
            <p class="card__text">
              Build a website for free. Use GitHub and VS Code to build a basic
              HTML and CSS website.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="project_card">
      <a href="https://ammonshepherd.github.io/understanding-file-paths/">
        <div class="card">
          <img
            class="card__img"
            src="images/file-paths.png"
            alt="Get a grip on file paths"
          />
          <div class="card__content">
            <h1 class="card__header">Understanding File paths</h1>
            <p class="card__text">
              Get a grip on file paths for web development. Learn the difference
              between an Absolute vs. Relative file
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="project_card">
      <a href="https://ammonshepherd.github.io/git-for-beginners/">
        <div class="card">
          <img class="card__img" src="images/git.png" alt="Understanding Git" />
          <div class="card__content">
            <h1 class="card__header">Getting Git for Beginners</h1>
            <p class="card__text">
              If you don't get Git, this tutorial starts off with an analogy to
              help you understand Git before using it.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="project_card">
      <a href="https://github.com/ammonshepherd/pfp/">
        <div class="card">
          <img
            class="card__img"
            src="images/pfp.png"
            alt="Python Development"
          />
          <div class="card__content">
            <h1 class="card__header">Python, Flask and PostgreSQL</h1>
            <p class="card__text">
              Use Docker to create a quick and easy Python web development
              environment. This set up uses the Flask framework and PostgreSQL
              for the database.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="project_card">
      <a href="https://github.com/ammonshepherd/pmamp/">
        <div class="card">
          <img class="card__img" src="images/pmamp.png" alt="PHP Web Development" />
          <div class="card__content">
            <h1 class="card__header">PHP, Apache, MySQL, phpMyAdmin</h1>
            <p class="card__text">
              Use Docker to put create a quick and easy PHP web development
              environment. This set up uses PHP, Apache and MySQL to create a
              development environment, with phpMyAdmin installed for easy
              database management.
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="old-sites">
  <h2>My website archive</h2>
  <div class="projects">
    <div class="project_card">
      <!-- <a href="https://ammonshepherd.github.io/mossiso-archive/"> -->
      <a href="https://github.com/ammonshepherd/mossiso-archive">
        <div class="card">
          <img class="card__img" src="images/mossiso-2006.png" alt="Mossiso website" />
          <div class="card__content">
            <h1 class="card__header">Mossiso.com</h1>
            <p class="card__text">This was my blog and website that I started in 2001. It was my internet home for about 20 years. It showcased my learning about technology, my thoughts on theology, and it chronicled my families life every once in a while.</p>
          </div>
        </div>
      </a>
    </div>
    <div class="project_card">
      <a href="https://ammonshepherd.github.io/nazitunnels-archive/">
        <div class="card">
          <img class="card__img" src="images/nazitunnels.png" alt="Nazi Tunnels website" />
          <div class="card__content">
            <h1 class="card__header">Nazi Tunnels Blog</h1>
            <p class="card__text">This was my blog for while I was working on my dissertation. I also had a grand plan of turning it into the go to site to learn about all of the tunnel projects that the Nazis created during World War II for underground armaments. I still think that would be a cool website, but I don't have the time or desire to make it anymore.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock content %}
